.card-area {
    margin-top: 8rem;
}
.card-area .card{
    width: 20rem;
}
header{
    margin-left: 10px;
}
.card-img-top img{
    width: 280px;
    height: 180px;
}
.post-cover{
    text-align: center;
}
.post-meta{
    margin-top: 50px;
}
.post-content{
    margin-top: 80px;
}
